<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host_themoviedb_web</key>
	<string>https://www.themoviedb.org/movie/</string>
	<key>host_trailer_url</key>
	<string>https://www.youtube.com/embed/</string>
	<key>language_changed</key>
	<string></string>
	<key>include_adult_value</key>
	<string>false</string>
	<key>include_adult_param</key>
	<string>&amp;include_adult=</string>
	<key>query_param</key>
	<string>&amp;query=</string>
	<key>query_value</key>
	<string></string>
	<key>api_key_param</key>
	<string>?api_key=</string>
	<key>api_key_param_value</key>
	<string>edacb7eeacf9c2be67d32057dc199a0f</string>
	<key>page_param</key>
	<string>&amp;page=</string>
	<key>language_param</key>
	<string>&amp;language=</string>
	<key>language_param_value</key>
	<string>en-US</string>
	<key>last_page_number</key>
	<string>10</string>
	<key>current_page_number</key>
	<string>1</string>
	<key>poster_main_url</key>
	<string>https://image.tmdb.org/t/p/w1280</string>
	<key>api_main_url</key>
	<string>https://api.themoviedb.org/3</string>
	<key>GET_UPCOMING_MOVIES</key>
	<string>/movie/upcoming</string>
	<key>GET_SEARCH_MOVIES</key>
	<string>/search/movie</string>
	<key>GET_TRANSLATES</key>
	<string>/configuration/primary_translations</string>
	<key>GET_COUNTRIES</key>
	<string>/configuration/countries</string>
	<key>GET_LANGUAGES</key>
	<string>/configuration/languages</string>
	<key>GET_MOVIE_TRAILERS</key>
	<string>/movie/&lt;MOVIE-ID&gt;/videos</string>
	<key>GET_GENRES_LIST</key>
	<string>/genre/movie/list</string>
</dict>
</plist>
