<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>get_upcoming_movies</key>
	<string>/movie/upcoming</string>
	<key>get_search_movie</key>
	<string>/search/movie</string>
	<key>get_translates</key>
	<string>/configuration/primary_translations</string>
	<key>get_countries</key>
	<string>/configuration/countries</string>
	<key>get_languages</key>
	<string>/configuration/languages</string>
	<key>get_movie_trailer</key>
	<string>/movie/&lt;MOVIE-ID&gt;/videos</string>
	<key>get_genres_list</key>
	<string>/genre/movie/list</string>
</dict>
</plist>
